%common_button {
  height: 44px;
  width: 200px;
  cursor: pointer;
  border: none;
  background-color: #4da3fb;
  border-radius: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.4px;
  color: #ffffff;
  margin: 0 15px;
}
